<!-- Código de HTML que muestra la información provista por la ruta  -->

<!--
Extiende el archivo `views/layout.hbs` por lo tanto no es necesario incluir
<head></head> o <body></body> en este archivo. Revise el archivo del layout
para una mejor explicación
 -->

<center><br><h1>{{title}}</h1></br></center>

<center><br><img src="{{foto}}" alt=""></br></center>

<center><br><a href="/Objetivos">objetivos</a></br></center>
<center><br><a href="/Sobre">sobre</a></br></center>
